{% extends 'base.html' %}

{% block content %}
<h1>Board Create</h1>

<form action="{% url 'board_user' board_id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <input type="hidden", name="title" value="{{form.title}}">
    <input type="hidden", name="image" value="{{form.image.currently}}">



<select class="form-select" aria-label="Default select example">
    {% for user in users %}
        <option selected>Open this select menu</option>
          <option value="{{ user.id }}">{{ user.username }}</option>
    {% endfor %}
</select>

</form>




    <button type="submit">Submit</button>
</form>
        <a href="{% url 'board_delete' board_id %}"><button>Delete</button></a>
{% endblock %}
