{% extends 'base.html' %}

{% block content %}
<h1>CheckList Create</h1>

<form action="{% url 'checklist_create'  board_id list_id card_id  %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}

    <div class="form-error">{{ f.errors }}</div>

    {% endfor %}
    <input type="hidden" name="card" value="{{ card_id }}">
    <p>{{ form.title }}</p>

    <button type="submit">Добавить</button>
</form>

{% endblock %}
