{% extends 'base.html' %}

{% block content %}
<h1>Mark Create</h1>

<form action="{% url 'mark_create' board_id list_id card_id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

{% for f in form %}
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
    <input type="hidden" name="card" value="{{ card_id }}">
    <p><input type="text" name="text"></p>
    <p><input type="text" name="color"></p>


    <button type="submit">Добавить</button>
</form>

{% endblock %}
